/* style for the main area of the subscribe form */

main.subscribe-main {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

form.subscribe-form {
    width: 450px;
    margin: 50px auto 50px auto;
    padding: 5px 20px 20px 20px;
    background-color: rgb(255, 71, 15);
    border-radius: 12px;
}

input.subscribe-input {
    font-size: 20px;
}

.form-area-subscribe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-subscribe {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 10px 0 0;
}

.submit-button-subscribe {
    vertical-align: top;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
}

.welcome-screen {
    width: 100%;
    max-height: 140px;
    max-width: 400px;
}

.caption-text {
    font-size: 0.8rem;
    text-align: center;
}

@media(max-width: 699px) {
    input.subscribe-input {
        font-size: 18px;
        width: 150px;
    }

    form.subscribe-form {
        width: 300px;
        margin: 0 auto 0 auto;
    }
}

@media(min-width: 1100px) {
    main.subscribe-main {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    form.subscribe-form {
        margin: 0;
    }
}