/* style for all linked pages including imports */

@import "body.css";
@import "header.css";
@import "nav.css";
@import "subscribeButton.css";
@import "footer.css";
@import "mainHome.css";
@import "mainBlog.css";
@import "mainSubscribe.css";

html {
    font-size: 100%;
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    font-style: oblique;
}