/* Import for specific css files */

/* General settings */
html {
    background-image: linear-gradient(#39616b, #444);
    font-size: 100%;
    border-radius: 20px;
    border-style: solid;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: repeat(2, 1fr) 0.5fr auto 1fr;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
}

header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

nav {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.subscribe-button {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    border-style: solid;
}

main {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    border-style: solid;
    padding: 5px;
}

footer {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    align-self: end;
    text-align: center;
}

h1 {
    color: #351313;
    font-size: 2em;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Impact;
}

h2 {
    color: #291311;
    font-size: 1.6em;
    text-align: center;
}

h3 {
    color: #f80;
    font-size: 1.2em;
    text-align: center;
}

p {
    font-weight: 600;
}

strong {
    color: red;
    font-weight: bold;

}

em {
    color: #444;
    font-style: italic;

}

a,
a:visited {
    color: #fff;
    text-decoration: none;
}


.cards {
    display: grid;
    gap: 1rem;
    max-width: 1340px;
    margin: 0 auto;
    padding: 1rem;

    @media (min-width: 900px){
        grid-template-columns: repeat(2, 1fr);
    }
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    background: #fff;
    border-radius: 10px;
    color: #101010;
}